{% extends "base.html" %}
{% block title %}
    <title>This is form page</title>
{% endblock %}


{% block content %}
    <h2 class="text-center">This is a form for demo in a table format by rendering html files </h2>
    <form method= "post" action="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control">
        </div>
        <input type="submit" value="Add Task" class="btn btn-success">
    </form>
{% endblock %}

